.landing-container {
    background-image: url("../../images/background-home.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.landing-container > div {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.landing-container img {
    width: 150px;
    border-radius: 100%;
}

.landing-description {
    text-align: justify;
    max-width: 400px;
}

@media screen and (max-width: 500px) {
    .landing-container > div {
        width: 85%;
    }
}