/* SlideShow */
.slide-view {
    margin: 0 auto 60px;
    overflow: hidden;
    max-width: 700px;
    position: relative;
}
.slide-container {
    white-space: nowrap;
    transition: ease 1000ms;
}
.slide {
    display: inline-block;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    white-space: pre-wrap;
}

/* Slide Buttons */
.slide-dots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-dot {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 15px 7px 0;
    border-radius: 50%;
    background-color: #c4c4c4;
}
.slide-dot-active {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Prev and Next Buttons */
.prev-slide, .next-slide {
    display: none;
}
.prev-slide img, .next-slide img {
    width: 30px;
    display: inline-block;
    background-color: #cccccc;
    opacity: 0.4;
    padding: 15px 10px 15px 5px;
    border-radius: 10px;
    position: absolute;
}
.prev-slide img {
    transform: rotateZ(180deg);
    left: -10px;
    top: 50%;
}
.next-slide img {
    width: 30px;
    right: -10px;
    top: 50%;
} 
.prev-slide img:hover,
.prev-slide img:focus,
.next-slide img:hover,
.next-slide img:focus {
    opacity: 0.8;
}

@media screen and (max-width: 800px) {
    .prev-slide, .next-slide {
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    .slide-view {
        max-width: 90%;
    }
}